{% extends 'main/base.html' %}

{% block app %}
<div id="dlg-cal"><div id="dpDlg"></div></div>
<div id="dlg-attrs" style="display: none;"></div>

<div id="filter-vals" style="display: none;">
    <input type="hidden" id="filter_url" value="{% url 'main:filter_ajax' %}">
    <input type="hidden" id="from_tmp">
    <input type="hidden" id="to_tmp">
    <input type="hidden" id="bookable_listing_ids_dict_str">
    <input type="hidden" id="from_last">
    <input type="hidden" id="to_last">
    <input type="hidden" id="amenities_last">
    <input type="hidden" id="facilities_last">
    <input type="hidden" id="rules_last">
    <input type="hidden" id="amenities_tmp">
    <input type="hidden" id="facilities_tmp">
    <input type="hidden" id="rules_tmp">
</div>

<div class="filter-bar">
    <button id="dates">Dates</button>
    <button id="attrs">Filters</button>
    <div id="num" style="display: inline-block; padding-left: 10px;">{{listings|length}} listing(s)</div>
</div>

<div id="listings-div" style="height: calc(100vh - 80px - 64px); overflow: scroll; padding-right: 30px;">
    {% for listing in listings %}
    <div class="listing" id="{{listing.id}}">
        <a href="{% url 'main:listing' id=listing.id %}" target="_blank"><img src="/media/listings/{{listing.id}}/main.jpg"></a>
        <a href="{% url 'main:listing' id=listing.id %}" target="_blank">
            {% if listing.uniq_type %}
            <div style="color: rgb(165, 41, 3); font-size: 12px; font-weight: bold; padding-top: 5px;">{{listing.stay_type_str}} in {{listing.uniq_type_str}}</div>
            {% else %}
            <div style="color: rgb(165, 41, 3); font-size: 12px; font-weight: bold; padding-top: 5px;">{{listing.stay_type_str}}</div>
            {% endif %}
            <div style="color: rgb(72, 72, 72); font-size: 19px; font-weight: bold;">{{listing.name}}</div>
            <div style="color: rgb(72, 72, 72); font-size: 15px; font-weight: 300;">From {{listing.price_per_night_str}} per night</div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
    function yyyymmdd(dv) {
        var y = dv.getFullYear();
        var m = dv.getMonth() + 1;
        var d = dv.getDate();
        return "" + y + "-" + (m < 10 ? "0" : "") + m + "-" + (d < 10 ? "0" : "") + d;
    }

    function applyFilters() {
        let from_last_str = $("#filter-vals").find("#from_last").val();
        let to_last_str = $("#filter-vals").find("#to_last").val();
        let dict_str = $("#filter-vals").find("#bookable_listing_ids_dict_str").val();
        let bookable_listing_ids_dict = null;
        if (dict_str) {
            bookable_listing_ids_dict = JSON.parse(dict_str);
        }

        if (from_last_str && to_last_str) {
            $("#dates").css("color", "white");
            $("#dates").css("background-color", "rgb(0, 132, 137)");
            $("#dates").text(from_last_str + " thru " + to_last_str);
        } else {
            $("#dates").css("color", "black");
            $("#dates").css("background-color", "white");
            $("#dates").text("Dates");
        }

        let amenities_last_str = $("#filter-vals").find("#amenities_last").val();
        let facilities_last_str = $("#filter-vals").find("#facilities_last").val();
        let rules_last_str = $("#filter-vals").find("#rules_last").val();

        if (amenities_last_str || facilities_last_str || rules_last_str) {
            $("#attrs").css("color", "white");
            $("#attrs").css("background-color", "rgb(0, 132, 137)");
        } else {
            $("#attrs").css("color", "black");
            $("#attrs").css("background-color", "white");
        }

        children = $("#listings-div").children();
        let showCount = 0;
        if (children) {
            for (let i = 0; i < children.length; ++i) {
                selector = "#" + (i + 1);
                showable = !bookable_listing_ids_dict || children[i].id in bookable_listing_ids_dict;
                if (showable) {
                    $("#listings-div").find(selector).show();
                    ++showCount;
                } else {
                    $("#listings-div").find(selector).hide();
                }
            }
        }
        $(".filter-bar").find("#num").text(showCount + " listing(s)");
    }

    $(document).ready(function() {
        $("#dates").click(function() {
            let from_last_input = $("#filter-vals").find("#from_last");
            let to_last_input = $("#filter-vals").find("#to_last");
            let dict_str_input = $("#filter-vals").find("#bookable_listing_ids_dict_str");

            let from_tmp_input = $("#filter-vals").find("#from_tmp");
            let to_tmp_input = $("#filter-vals").find("#to_tmp");

            let minDateStr = null;
            let cur_input = null;
            let title = null;

            if (!from_tmp_input.val()) {
                minDateStr = yyyymmdd(new Date());
                cur_input = from_tmp_input;
                title = "*** FROM DATE ***"
            } else {
                minDateStr = from_tmp_input.val();
                cur_input = to_tmp_input;
                title = "*** TO DATE ***"
            }

            $("#dlg-cal").dialog({
                autoOpen: false,
                height: 300,
                modal: true,
                resizable: false,
                title: title,
                width: 275,
                open: function() {
                    let overlay = $(".ui-widget-overlay");
                    overlay.css({ "opacity": "0.7", "background-color": "white" });
                    overlay.click(function(event) {
                        $("#dlg-cal").dialog("close");
                    });
                },
                close: function() {
                    $("#dlg-cal").find("#dpDlg").datepicker("destroy");

                    if (!cur_input.val()) {
                        from_tmp_input.val(null);
                        to_tmp_input.val(null);
                        return;
                    }

                    if (from_tmp_input.val() && !to_tmp_input.val())
                    {
                        setTimeout(function() { $("#dates").trigger("click"); }, 100);
                        return;
                    }

                    from_last_input.val(from_tmp_input.val());
                    to_last_input.val(to_tmp_input.val());

                    from_tmp_input.val(null);
                    to_tmp_input.val(null);

                    if (from_last_input.val() && to_last_input.val()) {
                        $.ajax({
                            beforeSend: setCsrfToken,
                            type: "POST",
                            url: $("#filter-vals").find("#filter_url").val(),
                            data: {
                                from_date: from_last_input.val(),
                                to_date: to_last_input.val(),
                            },
                            success: function(response) {
                                let dict_str = null;
                                if (response) {
                                    dict_str = response.bookable_listing_ids_dict_str;
                                }
                                dict_str_input.val(dict_str);
                                applyFilters();
                            },
                        });
                    } else {
                        dict_str_input.val(null);
                        setTimeout(function() { applyFilters(); }, 100);
                    }
                },
                buttons: {
                    "Clear Dates": function() {
                        from_tmp_input.val(null);
                        to_tmp_input.val(null);
                        from_last_input.val(null);
                        to_last_input.val(null);
                        dict_str_input.val(null);
                        $("#dlg-cal").dialog("close");
                        setTimeout(function() { applyFilters(); }, 100);
                    },
                },
            });

            $("#dlg-cal").find("#dpDlg").datepicker({
                dateFormat: "yy-mm-dd",
                minDate: minDateStr,
                onSelect: function() {
                    let dv = $("#dlg-cal").find("#dpDlg").datepicker("getDate");
                    cur_input.val(yyyymmdd(dv));
                    $("#dlg-cal").dialog("close");
                }
            });

            $("#dlg-cal").dialog("open");
        });

        $("#attrs").click(function() {
            let amenities_last_input = $("#filter-vals").find("#amenities_last");
            let facilities_last_input = $("#filter-vals").find("#facilities_last");
            let rules_last_input = $("#filter-vals").find("#rules_last");

            let amenities_tmp_input = $("#filter-vals").find("#amenities_tmp");
            let facilities_tmp_input = $("#filter-vals").find("#facilities_tmp");
            let rules_tmp_input = $("#filter-vals").find("#rules_tmp");

            let height = 300;
            let width = 300;

            $("#dlg-attrs").dialog({
                autoOpen: false,
                height: height,
                modal: true,
                resizable: false,
                width: width,
                open: function() {
                    let overlay = $(".ui-widget-overlay");
                    overlay.css({ "opacity": "0.7", "background-color": "white" });
                    overlay.click(function(event) {
                        $("#dlg-attrs").dialog("close");
                    });
                },
                close: function() {
                    amenities_last_input.val(amenities_tmp_input.val());
                    facilities_last_input.val(facilities_tmp_input.val());
                    rules_last_input.val(rules_tmp_input.val());

                    amenities_tmp_input.val(null);
                    facilities_tmp_input.val(null);
                    rules_tmp_input.val(null);

                    if (amenities_last_input.val() || facilities_last_input.val() || rules_last_input.val()) {
                        $.ajax({
                            beforeSend: setCsrfToken,
                            type: "POST",
                            url: $("#filter-vals").find("#filter_url").val(),
                            data: {
                                amenities: amenities_last_input.val(),
                                facilities: facilities_last_input.val(),
                                rules: rules_last_input.val(),
                            },
                            success: function(response) {
                                if (response) {
                                    // $("#filter-vals").find("#x").val(response.x);
                                }
                                applyFilters();
                            },
                        });
                    } else {
                        setTimeout(function() { applyFilters(); }, 100);
                    }
                },
            });

            $("#dlg-attrs").dialog("open");
        });
    });
</script>
{% endblock %}

