{% extends 'main/base.html' %}

{% block app %}
<div class="filter-bar">
    <button id="dates">Dates</button>
    <button id="filters">Filters</button>
</div>

<div id="dlg-cal" style="display: none">
    <div style="text-align: center">Select Date</div>
    <div style="width: 100%; height: 200px;"></div>
    <div>
        <a>Cancel</a>
        <a style="float: right;">Apply</a>
    </div>
</div>

<div style="height: calc(100vh - 80px - 64px); overflow: scroll; padding-right: 30px;">
    {% for listing in listings %}
    <div class="listing">
        <a href="{% url 'main:listing' id=listing.id %}" target="_blank"><img src="/media/listings/{{listing.id}}/main.jpg"></a>
        <a href="{% url 'main:listing' id=listing.id %}" target="_blank">
            {% if listing.uniq_type %}
            <div style="color: rgb(165, 41, 3); font-size: 12px; font-weight: bold; padding-top: 5px;">{{listing.stay_type_str}} in {{listing.uniq_type_str}}</div>
            {% else %}
            <div style="color: rgb(165, 41, 3); font-size: 12px; font-weight: bold; padding-top: 5px;">{{listing.stay_type_str}}</div>
            {% endif %}
            <div style="color: rgb(72, 72, 72); font-size: 19px; font-weight: bold;">{{listing.name}}</div>
            <div style="color: rgb(72, 72, 72); font-size: 15px; font-weight: 300;">From {{listing.price_per_night_str}} per night</div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $("#dates").click(function(event) {
            event.preventDefault();
            $("#dlg-cal").dialog({
                draggable: false,
                height: 260,
                modal: true,
                resizable: false,
                width: 400,
                open: function() {
                    $("#dlg-cal").find("a").css("outline", "none");
                    let overlay = $(".ui-widget-overlay");
                    overlay.css({ "opacity": "0.7", "background-color": "black" });
                    overlay.click(function(event) {
                        $("#dlg-cal").dialog("close");
                    });
                    let nowYYYYMMDD = new Date().toISOString().slice(0,10);
                    $("#area").datepicker("option", "dateFormat", "yy-mm-dd");
                    let x = ($(window).width() / 2) - 130;
                    let y = $("#dlg-cal").offset().top + 30;
                    let options = {
                        onClose: function() {
                            $("#dlg-cal").dialog("close");
                        }
                    };
                    $("#dlg-cal").datepicker("dialog", nowYYYYMMDD, null, options, [x, y]);
                },
            });
        });
    });
</script>
{% endblock %}

