{% extends 'main/base.html' %}

{% block app %}

<div style="overflow: scroll; height: calc(100vh - 80px - 70px);">
    <div style="width: 100%; height: 100%; max-height: 368px; background-size: cover; background-repeat: no-repeat; background-position: 50%; background-image: url('/media/photo.jpg')"></div>
    <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore reprehenderit error ut sed consequatur inventore suscipit, facilis earum delectus repellendus minima rem nulla magnam debitis saepe. Eligendi accusamus, odit illo officiis veritatis optio consequatur perspiciatis animi ut velit accusantium reiciendis qui ipsam obcaecati quo commodi nulla tempore, dolorum, deserunt voluptatem itaque debitis consequuntur. Exercitationem quaerat molestiae incidunt officiis fugit consectetur, ipsum dignissimos dolorum dolorem, vitae veritatis molestias tempore autem maxime! Hic, sed autem. Eligendi quasi iusto vel possimus, eos eveniet dolores blanditiis deleniti explicabo molestiae ullam magnam adipisci, aspernatur animi voluptatum esse quas deserunt voluptate, quod cumque ab tempora in.</div>
</div>
<div style="height: 70px; border-top: 1px solid lightgrey;">BOOK</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $(".filter-bar").hide();
        $("body").show();
    });
</script>
{% endblock %}

