
.debug, .debug * {
    border: 1px dotted red;
}

.debug-one {
    border: 1px dotted green;
}

.no-title .ui-dialog-titlebar
{
    display: none
}

.no-close .ui-dialog-titlebar-close
{
    display: none
}

body {
    color: rgb(72, 72, 72);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0 auto;
}

.nav-bar {
    display: table;
    height: 80px;
    width: 100%;
}

.nav-logo-link {
    display: table-cell;
    padding-left: 24px;
    padding-right: 24px;
    vertical-align: middle;
}

.nav-logo-dd {
    display: table-cell;
    padding-left: 24px;
    padding-right: 24px;
    vertical-align: middle;
}

.nav-search-lg {
    display: table-cell;
    vertical-align: middle;
    width: 720px;
}

.nav-search-lg > div {
    border: 1px solid #DBDBDB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 50px;
    margin-left: 8px;
    width: 460px;
}

.nav-search-lg > div > form > div {
    float: left;
    padding-left: 12px;
    padding-top: 11px;
}

.nav-search-lg > div > form > input {
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 19px;
    margin-left: 10px;
    margin-top: 12px;
    outline: none;
    width: 400px;
}

.nav-search-sm {
    display: table-cell;
    width: 100%;
    padding: 5px 25px 10px 0;
}

.nav-search-sm > div {
    height: 100%;
    padding: 10px 12px 5px 8px;
    width: 100%;
}

.nav-search-sm > div > button {
    background-color: white;
    border: 1px solid #DBDBDB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    height: 100%;
    outline: none;
    width: 100%;
}

.nav-search-sm > div > button  > div {
    float: left;
}

.nav-menu {
    display: table-cell;
    width: 100%;
}

.nav-menu > div {
    display: table;
    float: right;
    height: 100%;
}

.nav-menu > div > button {
    background-color: transparent;
    font-size: 14px;
    height: 79px;
    border-color: transparent;
    margin-right: 15px;
    outline: none;
    color: rgb(72, 72, 72);
    font-family: Helvetica, Arial, sans-serif;
    white-space: nowrap;
}

.nav-menu > div > button:hover {
    border-bottom: 2px solid rgb(118,118,118);
}

#criteria-bar {
    height: 64px;
    border-bottom: 1px solid rgb(228, 228, 228);
    border-top: 1px solid rgb(228, 228, 228);
    text-align: center;
}

#criteria-bar > button {
    display: inline-block;
    background-color: white;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 16px;
    margin-right: 20px;
    padding: 6px 12px 6px 12px;
    outline: none;
}

#criteria-bar > button:hover {
    background-color: lightgrey;
}

@media (max-width: 743px) {
    .nav-logo-dd {
        display: table-cell;
    }
    .nav-logo-link {
        display: none;
    }
    .nav-search-sm {
        display: table-cell;
    }
    .nav-search-lg {
        display: none;
    }
    .nav-menu > div {
        display: none;
    }
}
@media (min-width: 744px) {
    .nav-logo-dd {
        display: table-cell;
    }
    .nav-logo-link {
        display: none;
    }
    .nav-search-sm {
        display: none;
    }
    .nav-search-lg {
        display: table-cell;
    }
    .nav-menu > div {
        display: none;
    }
}
@media (min-width: 1128px) {
    .nav-logo-dd {
        display: none;
    }
    .nav-logo-link {
        display: table-cell;
    }
    .nav-search-sm {
        display: none;
    }
    .nav-search-lg {
        display: table-cell;
    }
    .nav-menu > div {
        display: table;
    }
}

.listing {
    display: inline-block;
    margin: 15px;
    width: 100%;
}

.listing > a {
    color: black;
    text-decoration: none;
}

.listing > a > img {
    border-radius: 3px;
    max-width: 100%;
}

.listing-image {
    min-height: 40vh;
    height: 40vh;
    max-height: 40vh;
}

@media (min-width: 744px) {
    .listing {
        width: 45%;
    }
    .listing-image {
        min-height: 400px;
        height: 400px;
        max-height: 400px;
    }
}
@media (min-width: 1128px) {
    .listing {
        width: 22%;
    }
    .listing-image {
        min-height: 400px;
        height: 400px;
        max-height: 400px;
    }
}
@media (min-width: 1440px) {
    .listing {
        width: 17%;
    }
    .listing-image {
        min-height: 400px;
        height: 400px;
        max-height: 400px;
    }
}

.common-border {
    border: 1px solid rgb(219, 219, 219);
}

.common-border-top {
    border-top: 1px solid rgb(219, 219, 219);
}

.common-border-bottom {
    border-bottom: 1px solid rgb(219, 219, 219);
}

.black-on-white {
    color: rgb(72, 72, 72) !important;;
    background-color: white !important;;
}

.green-on-white {
    color: rgb(0, 132, 137) !important;
    background-color: white !important;;
}

.burgundy-on-white {
    color: rgb(165, 41, 3) !important;;
    background-color: white !important;;
}

.white-on-green {
    color: white !important;;
    background-color: rgb(0, 132, 137) !important;;
}

.white-on-green-light {
    color: white !important;;
    background-color: rgb(0, 214, 222) !important;;
}

.white-on-red {
    color: white !important;;
    background-color: rgb(255, 90, 95) !important;;
}

.white-on-blue {
    color: white !important;;
    background-color: rgb(69, 104, 178) !important;;
}

.white-on-orange {
    color: white !important;
    background-color: orange !important;;
}

